# https://docs.gunicorn.org/en/latest/deploy.html#systemd

[Unit]
Description=gunicorn daemon for mvp
Requires=gunicorn_mvp.socket
After=network.target

[Service]
Type=notify
NotifyAccess=main
User=agora
Group=caddy
WorkingDirectory=/home/agora/projects/mvp
ExecStart=/home/agora/.local/bin/uv run gunicorn --workers 3 --bind unix:/run/gunicorn_mvp.sock agora.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
Restart=on-failure
RestartSec=10
ProtectSystem=strict

[Install]
WantedBy=multi-user.target
