{% extends "base.html" %}
{% load django_vite %}

{% block title %}
    Verify Your Identity - Agora
{% endblock title %}

{% block content %}
    <div class="min-h-screen flex items-center justify-center bg-base-100">
        <div class="card w-full max-w-md bg-base-100 shadow-xl">
            <div class="card-body flex flex-col gap-4">

                {% if not current_verification %}
                    <h2 class="card-title justify-center text-2xl">Verify Your Identity</h2>

                    <div class="alert alert-info">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             fill="none"
                             viewBox="0 0 24 24"
                             class="stroke-current shrink-0 w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z">
                            </path>
                        </svg>
                        <div>
                            <h3 class="font-bold">Identity Verification Required</h3>
                            <div class="text-xs">To use Agora, you need to verify your identity for security and compliance purposes.</div>
                        </div>
                    </div>

                    <div class="space-y-4">
                        <p class="text-sm text-base-content/70">
                            Identity verification helps ensure the security and integrity of our platform.
                            We'll use a trusted third-party service to verify your identity.
                        </p>

                        <button id="start-verification-button" class="btn btn-primary w-full">Start Verification</button>

                    </div>
                {% else %}
                    {% with status=current_verification.status %}
                        {% if status == "verified" %}
                            <div class="mx-auto rounded-full w-20 h-20 border-4 border-primary/60 bg-primary/40 text-5xl text-center flex items-center justify-center text-primary/60">
                                <i data-lucide="user-round-check" class="h-8 w-8"></i>
                            </div>

                            <h2 class="card-title text-2xl">Identity verified</h2>
                            <p>Your identity was successfully verified, you can continue to the next step.</p>

                            <a href="{% url "onboarding" %}" class="btn btn-primary">Continue</a>
                        {% elif status == "processing" %}
                            <div class="mx-auto rounded-full w-20 h-20 border-4 border-info/60 bg-info/40 text-5xl text-center flex items-center justify-center text-info/60">
                                <i data-lucide="refresh-cw" class="h-8 w-8"></i>
                            </div>

                            <h2 class="card-title text-2xl">Identity processing</h2>
                            <p>Your identity is being processed, please be patient.</p>
                        {% elif status == "requires_action" %}
                            <div class="mx-auto rounded-full w-20 h-20 border-4 border-warning/60 bg-warning/40 text-5xl text-center flex items-center justify-center text-warning/60">
                                <i data-lucide="circle-alert" class="h-8 w-8"></i>
                            </div>

                            <h2 class="card-title text-2xl">Action required</h2>
                            <p>We need some extra information to verify your identity, please click the button to continue.</p>
                        {% elif status == "failed" %}
                            <div class="mx-auto rounded-full w-20 h-20 border-4 border-error/60 bg-error/40 text-5xl text-center flex items-center justify-center text-error/60">
                                <i data-lucide="ban" class="h-8 w-8"></i>
                            </div>

                            <h2 class="card-title text-2xl">Verification failed</h2>
                            <p>Unfortunately your identity has been unable to be verified, please try again.</p>

                            <button id="start-verification-button" class="btn btn-primary w-full">Retry Verification</button>
                        {% endif %}
                    {% endwith %}
                {% endif %}

            </div>
        </div>
    </div>
{% endblock content %}

{% block bodyEndScripts %}
    <script>const AGORA_GET_STRIPE_SESSION_URL = "{% url 'api-1.0.0:create_stripe_identity_verification_session' %}";</script>
    {% vite_asset 'src/stripe_identity_verification.ts' %}
{% endblock bodyEndScripts %}
