DEBUG=False

SECRET_KEY=

STATIC_HOST=

CLOUDFLARE_TURNSTILE_SECRET=

# Mozilla OIDC settings
OIDC_RP_CLIENT_ID=
OIDC_RP_CLIENT_SECRET=
OIDC_OP_AUTHORIZATION_ENDPOINT=https://idp.local.agora.gdn/realms/agora/protocol/openid-connect/auth
OIDC_OP_TOKEN_ENDPOINT=https://idp.local.agora.gdn/realms/agora/protocol/openid-connect/token
OIDC_OP_USER_ENDPOINT=https://idp.local.agora.gdn/realms/agora/protocol/openid-connect/userinfo
OIDC_OP_JWKS_ENDPOINT=https://idp.local.agora.gdn/realms/agora/protocol/openid-connect/certs

# Keycloak Admin settings
KEYCLOAK_SERVER_URL=
KEYCLOAK_USERNAME=
KEYCLOAK_PASSWORD=
KEYCLOAK_REALM=
KEYCLOAK_USER_REALM=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_VERIFY_CERT=
