DEBUG=False

SECRET_KEY=

STATIC_HOST=

MEDIA_HOST=

CLOUDFLARE_TURNSTILE_SECRET=

# Mozilla OIDC settings
OIDC_RP_CLIENT_ID=
OIDC_RP_CLIENT_SECRET=
OIDC_OP_AUTHORIZATION_ENDPOINT=https://idp.agora.gdn/realms/agora/protocol/openid-connect/auth
OIDC_OP_TOKEN_ENDPOINT=https://idp.agora.gdn/realms/agora/protocol/openid-connect/token
OIDC_OP_USER_ENDPOINT=https://idp.agora.gdn/realms/agora/protocol/openid-connect/userinfo
OIDC_OP_JWKS_ENDPOINT=https://idp.agora.gdn/realms/agora/protocol/openid-connect/certs

# Keycloak Admin settings
KEYCLOAK_SERVER_URL=https://idp.agora.gdn/
KEYCLOAK_USERNAME=
KEYCLOAK_PASSWORD=
KEYCLOAK_REALM=agora
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_VERIFY_CERT=True

# Email settings
DEFAULT_FROM_EMAIL="Agora <noreply@agora.gdn>"
SUPPORT_EMAIL="help@agora.gdn"
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=localhost
EMAIL_PORT=1025

# Stripe settings
STRIPE_LIVE_SECRET_KEY=sk_
STRIPE_LIVE_PUBLISHABLE_KEY=pk_
STRIPE_TEST_SECRET_KEY=sk_test_
STRIPE_TEST_PUBLISHABLE_KEY=pk_test_
STRIPE_LIVE_MODE=True
STRIPE_RESTRICTED_API_KEY=rk_test_

# Which ID verification flow to use
STRIPE_IDENTITY_VERIFICATION_FLOW=

STRIPE_WEBHOOK_SECRET=whsec_
