
<h2 class="text-2xl font-bold mb-8">FAQ</h2>
<div class="join join-vertical bg-base-100">
    <div class="collapse collapse-arrow join-item border-base-300 border">
        <input type="radio" name="my-accordion-4" checked="checked" />
        <div class="collapse-title font-semibold">How does Agora make money?</div>
        <div class="collapse-content text-sm">
            <p>
                We're starting with donations and sponsorships but have some ideas to generate enough revenue to cover the costs of running the service.
            </p>
        </div>
    </div>
    <div class="collapse collapse-arrow join-item border-base-300 border">
        <input type="radio" name="my-accordion-4" checked="checked" />
        <div class="collapse-title font-semibold">How is Agora different from logging in with Google or Facebook?</div>
        <div class="collapse-content text-sm">
            Unlike social media or tech giants, Agora is a non-profit association. Our core mission is to protect your privacy and build trust, not to profit from your data. We do not track your activity across the internet or sell your personal information. Your verified identity is used to provide secure access to services, giving you control and peace of mind.
        </div>
    </div>
    <div class="collapse collapse-arrow join-item border-base-300 border">
        <input type="radio" name="my-accordion-4" />
        <div class="collapse-title font-semibold">Why do I need to verify my government identity?</div>
        <div class="collapse-content text-sm">
            Identity verification is the foundation of Agora's service. By verifying your government ID once, we can confirm you are a real person and not a bot or a fake account. This single verification allows you to prove your identity or age to other websites without having to repeatedly submit your personal documents or data, providing a secure and private alternative to current systems.
        </div>
    </div>
    <div class="collapse collapse-arrow join-item border-base-300 border">
        <input type="radio" name="my-accordion-4" />
        <div class="collapse-title font-semibold">Is my data safe with a non-profit?</div>
        <div class="collapse-content text-sm">
            As a Swiss non-profit association, Agora is legally bound to act in the public interest and is not subject to the same commercial pressures as for-profit companies. Our non-profit status is a commitment to our users that we will not be a target for data acquisition or unjustly influenced by market forces. We are building our service with state-of-the-art security and privacy by design, with a focus on protecting your information above all else.
        </div>
    </div>
    <div class="collapse collapse-arrow join-item border-base-300 border">
        <input type="radio" name="my-accordion-4" />
        <div class="collapse-title font-semibold">What kind of websites will I be able to log in to?</div>
        <div class="collapse-content text-sm">
            We are building a new standard for online trust, and we are actively working with a range of partners to integrate Agora's service. Initially, this will include websites and services that require secure identity and age verification, such as online forums, e-commerce sites, and content platforms. Our goal is to make Agora a universal log-in for any website that values a trustworthy and secure user base.
        </div>
    </div>
    <div class="collapse collapse-arrow join-item border-base-300 border">
        <input type="radio" name="my-accordion-4" />
        <div class="collapse-title font-semibold">How does Agora help with age verification?</div>
        <div class="collapse-content text-sm">
            Many governments are mandating age verification to access certain online content and services. Existing solutions often require you to upload personal documents and expose sensitive data to multiple third parties. With Agora, you can verify your age once and then use our service to confirm you are over a certain age without revealing your date of birth or any other personal details to the website, offering a privacy-preserving and secure solution.
        </div>
    </div>
    <div class="collapse collapse-arrow join-item border-base-300 border">
        <input type="radio" name="my-accordion-4" />
        <div class="collapse-title font-semibold">How is Agora different from Sam Altman's Worldcoin?</div>
        <div class="collapse-content text-sm">
            <p>
                Agora and Worldcoin both aim to create a digital identity service, but our approaches are fundamentally different. Worldcoin is a for-profit company that uses a biometric Orb to scan a person's iris to generate a World ID, often incentivizing participation with cryptocurrency. This raises significant privacy and data collection concerns, and has faced regulatory scrutiny in multiple countries.
            </p>
            <p>
                Agora, on the other hand, is a Swiss non-profit association. We do not require a new hardware or processes that use biometric data like iris scans andr. Instead, we provide a service to allow you to securely verify your existing government identity, such as a passport or national ID. Our non-profit status means we are not driven by commercial interests to collect, monetize, or sell your data. Our primary goal is to build a trusted, private, and secure online environment that works for everyone, with no strings attached.
            </p>
        </div>
    </div>
    <div class="collapse collapse-arrow join-item border-base-300 border">
        <input type="radio" name="my-accordion-4" />
        <div class="collapse-title font-semibold">Are my Agora donations tax deductible?</div>
        <div class="collapse-content text-sm">
            We're working on that but right now they are not tax deductible. Always consult with your tax advisor.
        </div>
    </div>
</div>
