<footer class="footer footer-horizontal footer-center bg-base-200 text-base-content rounded p-10">
    <nav class="grid grid-flow-col gap-4">
        {% comment %} <a class="link link-hover">About us</a>
        <a class="link link-hover">Contact</a>
        <a class="link link-hover">Jobs</a>
        <a class="link link-hover">Press kit</a> 
        {% endcomment %}
        </nav>
        <nav>
            <div class="grid grid-flow-col gap-4"></div>
        </nav>
        <aside>
            <p>
                Copyright © <span id="year"></span> - All right reserved by Agora, a Swiss non-profit organization 🇨🇭
            </p>
            <script>document.getElementById("year").innerHTML = new Date().getFullYear();</script>
        </aside>
    </footer>
