<div class="hero bg-base-200 py-16 lg:py-32">
    <div class="hero-content max-w-6xl mx-auto flex-col gap-8">
        <div class="text-center">
            <h1 class="text-5xl font-bold text-balance">Reshaping the internet with you</h1>
            <p class="py-6 text-balance max-w-3xl mx-auto">
                With a verified identity you're one step closer to a more secure and human-friendly internet.
            </p>
            <a href="{% url "onboarding" %}" class="btn btn-primary">Go to Dashboard</a>
        </div>
    </div>
</div>
