(cors) {
	@origin header Origin {args[0]}
	header @origin Access-Control-Allow-Origin "{args[0]}"
	header @origin Access-Control-Allow-Methods "OPTIONS,HEAD,GET,POST,PUT,PATCH,DELETE"
}

(cloudflare_tls) {
	tls {
		dns cloudflare {file./run/secrets/cf_api_token}
		propagation_delay 10s
		resolvers 1.1.1.1
	}
}

{
	# acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
	email ewan@agora.gdn
}

import *.Caddyfile
