(cors) {
	@origin header Origin {args[0]}
	header @origin Access-Control-Allow-Origin "{args[0]}"
	header @origin Access-Control-Allow-Methods "OPTIONS,HEAD,GET,POST,PUT,PATCH,DELETE"
}

(cloudflare_tls) {
	tls {
		dns cloudflare {file./run/secrets/cf_api_token}
		resolvers 1.1.1.1
	}
}

import *.Caddyfile
