{% load django_vite static %}
<!DOCTYPE html>
<html lang="en" class="{% block htmlClass %}h-full{% endblock htmlClass %}">
    <head>
        {% block headStyle %}
        {% endblock headStyle %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description"
              content="{% block metaDescription %}Agora is a Swiss non-profit creating a privacy-respecting alternative to today's log-in methods.{% endblock metaDescription %}">
        <title>
            {% block title %}
                Agora
            {% endblock title %}
        </title>
        <link rel="stylesheet" href="{% vite_asset_url 'src/tailwind.css' %}">
        <script defer data-domain="agora.gdn" src="https://plausible.io/js/script.js"></script>
        <script src="https://js.stripe.com/clover/stripe.js"></script>
        <link rel="icon" href="{% static 'favicon.svg' %}">
        <script>const STRIPE_PUBLISHABLE_KEY = "{{ STRIPE_PUBLISHABLE_KEY }}";</script>
        {% vite_hmr_client %}
        {% vite_react_refresh %}
    </head>
    <body class="{% block bodyClass %}h-full{% endblock bodyClass %}">
        {% comment %} https://design-system.service.gov.uk/styles/page-template/ {% endcomment %}
        {% block bodyStart %}
        {% endblock bodyStart %}
        {% block skipLink %}
        {% endblock skipLink %}
        {% block header %}
            {% include "includes/header.html" %}
        {% endblock header %}
        {% block main %}
            {% block beforeContent %}
            {% endblock beforeContent %}
            {% block content %}
            {% endblock content %}
            {% block afterContent %}
            {% endblock afterContent %}
        {% endblock main %}
        {% block footer %}
            {% include "includes/footer.html" %}
        {% endblock footer %}
        {% block bodyEnd %}
        {% endblock bodyEnd %}
        {% block bodyEndScripts %}
        {% endblock bodyEndScripts %}

        {% if messages %}
            {% vite_asset 'src/notifications.ts' %}
            <script>
                document.addEventListener('DOMContentLoaded', () => {
                if (!showNotification) {
                    console.error("showNotification function is not defined.");
                    return;
                }
                {% for message in messages %}
                    showNotification("{{ message }}" {% if message.tags %}, "{{ message.tags }}"{% endif %});
                {% endfor %}
                })
            </script>
        {% endif %}
        {% vite_asset 'src/theme-change.ts' %} {% vite_asset 'src/icons.ts' %}
    </body>
</html>
