{% extends "base.html" %}
{% load humanize %}

{% block title %}
    Home - Agora
{% endblock title %}

{% block content %}
    <div class="hero bg-base-200 py-16 lg:py-32">
        <div class="hero-content max-w-5xl mx-auto flex-col lg:flex-row-reverse">
            <div class="text-center lg:text-left">
                <h1 class="text-5xl font-bold">Join the Waitlist</h1>
                <p class="py-6 text-balance">
                    If you're here you're probably interested in a voluntary digital ID. We're inviting people in small batches as we build the product so enter your email and we'll notify you when it's your turn to join.
                </p>
            </div>
            <div class="w-full max-w-sm shrink-0 flex flex-col gap-4">
                <div class="card bg-base-100 w-fullß shadow-2xl">
                    <div class="card-body flex flex-col gap-4">
                        <form method="post"
                              action="{% url 'signup' %}"
                              aria-label="Waitlist signup form">
                            {% csrf_token %}
                            <fieldset class="fieldset">
                                <legend class="sr-only">Waitlist signup form</legend>
                                <label class="label">{{ form.email.label_tag }}</label>
                                {{ form.email }}
                                {% if form.email.errors %}
                                    <div class="label">
                                        <span class="label-text-alt text-error">{{ form.email.errors.0 }}</span>
                                    </div>
                                {% endif %}
                                <button class="btn btn-primary mt-4">Join Waitlist</button>
                            </fieldset>
                        </form>

                        <p class="text-sm text-base-content/70">
                            By joining the waitlist, you agree to our <a href="{% url 'home' %}" class="link link-primary">privacy policy</a>.
                        </p>
                    </div>
                </div>
                <div class="flex items-center gap-2 justify-center">
                    <span class="text-sm text-base-content/70">
                        <i data-lucide="circle-user" aria-hidden="true" class="w-8 h-8"></i>
                    </span>
                    <p class="text-sm">Join {{ waiting_list_count|intcomma }}+ others on the waitlist</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container max-w-5xl mx-auto py-8 px-4 lg:py-16 flex flex-col gap-8">
        <h2 class="text-2xl font-bold">FAQ</h2>
        <div class="join join-vertical bg-base-100">
            <div class="collapse collapse-arrow join-item border-base-300 border">
                <input type="radio" name="my-accordion-4" checked="checked" />
                <div class="collapse-title font-semibold">How do I create an account?</div>
                <div class="collapse-content text-sm">
                    Click the "Sign Up" button in the top right corner and follow the registration process.
                </div>
            </div>
            <div class="collapse collapse-arrow join-item border-base-300 border">
                <input type="radio" name="my-accordion-4" />
                <div class="collapse-title font-semibold">I forgot my password. What should I do?</div>
                <div class="collapse-content text-sm">
                    Click on "Forgot Password" on the login page and follow the instructions sent to your email.
                </div>
            </div>
            <div class="collapse collapse-arrow join-item border-base-300 border">
                <input type="radio" name="my-accordion-4" />
                <div class="collapse-title font-semibold">How do I update my profile information?</div>
                <div class="collapse-content text-sm">Go to "My Account" settings and select "Edit Profile" to make changes.</div>
            </div>
        </div>
    </div>
    <div class="cf-turnstile" data-sitekey="0x4AAAAAAB0bBgh__cs3wnca"></div>
{% endblock content %}

{% block bodyEndScripts %}
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js"
            async
            defer></script>
{% endblock bodyEndScripts %}
