{% extends "base.html" %}
{% load humanize %}

{% block title %}
    Home - Agora
{% endblock title %}

{% block content %}

    {% if user.is_authenticated %}
        {% include "includes/hero_signed_up.html" %}
    {% else %}
        {% include "includes/hero_signup.html" %}
    {% endif %}

    <div class="container max-w-2xl mx-auto py-8 px-4 lg:py-16 flex flex-col gap-8">
        <h2 class="text-2xl font-bold">What is Agora?</h2>
        <p>
            The future of the internet requires trust, and that starts with identity. Agora is a Swiss non-profit creating a privacy-respecting alternative to today's log-in methods.
        </p>
        <p>
            By verifying your identity with us, you can prove you are a real person online without sharing sensitive information with every website you visit. Our service helps prevent fraud and provides a trusted online presence while protecting your privacy.
        </p>
    </div>
    <div class="container max-w-4xl mx-auto flex flex-col lg:flex-row gap-8">
        <div class="card bg-base-100 w-96">
            <div class="card-body">
                <h2 class="card-title">
                    <i data-lucide="fingerprint" aria-hidden="true" class="w-8 h-8"></i>
                    Verified Identity
                </h2>
                <p>Use your government ID to access websites without sharing personal details repeatedly.</p>
            </div>
        </div>
        <div class="card bg-base-100 w-96">
            <div class="card-body">
                <h2 class="card-title">
                    <i data-lucide="hat-glasses" aria-hidden="true" class="w-8 h-8"></i>
                    Privacy First
                </h2>
                <p>We are a non-profit committed to protecting your data, not selling it.</p>
            </div>
        </div>
        <div class="card bg-base-100 w-96">
            <div class="card-body">
                <h2 class="card-title">
                    <i data-lucide="id-card" aria-hidden="true" class="w-8 h-8"></i>
                    A New Standard
                </h2>
                <p>
                    Be part of a community building the next generation of online identity—one that is secure, private, and yours to control.
                </p>
            </div>
        </div>
    </div>
    <div class="container max-w-2xl mx-auto px-4 py-8 lg:py-12">{% include "includes/faq.html" %}</div>
{% endblock content %}

{% block bodyEndScripts %}
{% endblock bodyEndScripts %}
